{% extends "base.html" %}

{% block main %}

{% include 'flash_messages.html' %}

<div class="profile-container">

    
   <img class="profilepicture" src="{{ url_for('static', filename='uploads/' + user.photo) }}">
   <div class="personalinfo">
       <span id="profile-name"> 
           {{ user.first_name }} 
           {{ user.last_name }}
        </span> 
        <br/>

       <img class="profile-image" src="{{ url_for('static', filename='images/mail.png') }}"> {{ user.email }}
       <br/>
       <img class="profile-image" src="{{ url_for('static', filename='images/location.png') }}"> {{ user.location }}
       <br/>
       <img class="profile-image" src="{{ url_for('static', filename='images/calendar.png') }}"> {{ user.joined }}
   </div>
   
   <div id="aboutme">About Me</div>
   <div id="bio"> {{ user.bio }} </div>
   <button class="btnSend">Send</button>
   <button class="btnFollow">Follow</button>

</div>

{% endblock %}
 
   
   