{% extends "base.html" %}

{% block main %}

{% include 'flash_messages.html' %}

<div id="container">
    <div id="ProfHeading">
        <h1>Profiles</h1>
    </div>
    
    {% for user in users %}

    <div class="profile-container">
        <img class="profilepic" src="{{ url_for('static', filename='uploads/' + user.photo) }}">
        <div class="user-info">
            <b>{{ user.first_name}} {{ user.last_name }}</b> 
            <br/>
            <img class ="proh" src="{{ url_for('static', filename='images/user.png') }}"> {{ user.gender }} <br/>
            <img class ="proh" src="{{ url_for('static', filename='images/location.png') }}"> {{ user.location }}
               

        </div>
        <a href="{{ url_for('getProfile', userID=user.userID) }}" class ="atag" >View Profile</a>
    </div>

    <br/>
    
    {% endfor %}

</div>    

{% endblock %}

 
   
   
     